# Laravel関連
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.idea
/.vscode
/.phpunit.result.cache
/.DS_Store
/public/hot
/public/mix-manifest.json
/public/js/*.js
/public/css/*.css
/public/build
/public/*.map

# OS・エディタ系
Thumbs.db
.DS_Store
*.log
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp

# Laravel Mix
npm-debug.log
yarn-error.log
yarn-debug.log
pnpm-debug.log
mix-manifest.json

# Composer
composer.lock